**/__pycache__/
**/.speakeasy/temp/
**/.speakeasy/logs/
.env
.env.local
.speakeasy/reports
.venv/
pyrightconfig.json
README-PYPI.md
venv/
src/*.egg-info/
__pycache__/
.pytest_cache/
.python-version
.DS_Store
